<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html contact </title>
</head>
<body>
    <h1>Contact</h1>
    <h2>Hello my name is {{name}}</h2>
    <ul>
        <li><a href="http://localhost:8080/">Index</a></li>
        <li><a href="http://localhost:8080/about">About</a></li>
        <li><a href="http://localhost:8080/contact">Contact</a></li>
    </ul>
</body>
</html>